{
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": ["prettier", "prettier/react", "plugin:prettier/recommended"],
	"plugins": ["react-hooks", "prettier"],
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"node": true
	},
	"rules": {
		"react-hooks/rules-of-hooks": "error",
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"semi": false,
				"tabWidth": 2,
				"useTabs": true,
				"jsxSingleQuote": true,
				"jsxBracketSameLine": false,
				"trailingComma": "es5"
			}
		]
	}
}
